.contain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.winning{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.loser{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.cards{
    display: flex;
    column-gap: 10px;
}

.winText{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}

.losText{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}